@font-face {
  font-family: 'metro-icons';
  src:
    url('/assets/fonts/metro-icons.ttf?j572br') format('truetype'),
    url('/assets/fonts/metro-icons.woff?j572br') format('woff'),
    url('/assets/fonts/metro-icons.svg?j572br#metro-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="metro-"], [class*=" metro-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'metro-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.metro-calendar:before {
  content: "\e900";
}
.metro-edit:before {
  content: "\e901";
}
.metro-exclamation:before {
  content: "\e902";
}
.metro-logout:before {
  content: "\e903";
}
.metro-trash:before {
  content: "\e904";
}
.metro-user:before {
  content: "\e905";
}
