html, body {
  min-height: 100%;
  height: 100%; }

body {
  display: flex;
  flex-direction: column; }

.navbar {
  flex: 0 0 auto; }

.site-body {
  flex-grow: 1; }

a {
  color: #07C;
  transition: all 0.5s; }
  a:hover {
    color: #3af; }

.navbar-brand img {
  width: 100px; }

.nav-user {
  display: flex;
  align-items: center; }
  .nav-user .user__welcome {
    font-weight: 700; }
  .nav-user .user__logout {
    margin-left: 20px;
    font-size: 18px;
    color: #888;
    transition: all 0.5s;
    text-decoration: none; }
    .nav-user .user__logout:hover {
      color: #ac4139; }

textarea.form-control {
  resize: none;
  height: 150px; }

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px; }
  .login-container .login-form {
    min-width: 320px; }
  .login-container .logo-container {
    text-align: center;
    margin-bottom: 40px; }
    .login-container .logo-container img {
      width: 200px; }

.post-content-control {
  display: none; }

.post-content {
  color: #07C;
  border-bottom: 1px dashed;
  transition: all 0.5s;
  cursor: pointer; }
  .post-content:hover {
    color: #3af; }

.post-img {
  width: 200px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  margin-bottom: 20px; }

.post__item {
  margin-top: 40px; }
  .post__item .item__details {
    display: flex;
    margin-top: 10px;
    font-size: 13px;
    color: #888; }
    .post__item .item__details .details__item {
      display: flex;
      align-items: center;
      margin-right: 30px; }
      .post__item .item__details .details__item [class^="metro-"] {
        font-size: 14px;
        margin-right: 8px; }
      .post__item .item__details .details__item.pending {
        color: #ff9800; }
  .post__item .item__body {
    margin-top: 16px;
    font-size: 18px;
    color: #555; }
    .post__item .item__body .body__img {
      width: 100%;
      max-width: 600px;
      height: 400px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top left; }
  .post__item .item__actions {
    margin-top: 20px;
    display: flex; }
    .post__item .item__actions .action {
      margin-right: 20px; }

.footer {
  flex: 0 0 auto;
  background: #eee;
  margin-top: 100px;
  font-size: 12px;
  padding: .5rem 1rem; }

/*# sourceMappingURL=styles.css.map */
